<div class="mt-4">
        {{#each courses}}
       <div class="card-deck">
            <div class="card">
                <a href="http://localhost:3000/courses/{{this.slug}}">
                    <img class="card-img-top" src="{{this.image}}" alt="Card image cap">
                </a>
                <div class="card-body">
                <a href="http://localhost:3000/courses/{{this.slug}}">
                    <h5 class="card-title">{{this.name}}</h5>
                </a>
                <p class="card-text">{{this.description}}</p>
                </div>
                <div class="card-footer">
                <small class="text-muted">{{this.createdAt}}</small>
                </div>
            </div>
            
        </div>
        {{/each}}
</div>