{{> header}}

<div class="container" style="width: 70%" class="mt-4">
    <table class="table table-dark mt-4">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Book Name</th>
                <th scope="col">Author</th>
                <th scope="col">Type</th>
                <th scope="col">Created Day</th>

            </tr>
        </thead>
        <tbody>
            {{#each courses}}
            <tr>
                <th scope="row">{{sum @index 1}}</th>
                <td>{{this.name}}</td>
                <td>{{this.level}}</td>
                <td>{{this.tl}}</td>
                <td>{{this.createdAt}}</td>
                <td>
                    <a href="/courses/{{this._id}}/edit" class="btn btn-link">Edit</a>
                    <a href="/courses/{{this._id}}" class="btn btn-link" data-id = "{{this._id}}" data-toggle="modal" data-target="#delete-modal">Delete</a>
                </td>

            </tr>   
            {{/each}}
         
        </tbody>
    </table>    

</div>



<div id= "delete-modal" class="modal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Mày chắc chưa??
        </h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>Mày có chắc là muốn xóa không.</p>
      </div>    
      <div class="modal-footer">
        <button id= "btn-delete"type="button" class="btn btn-primary">Delete</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
<form name="delete-form" method="POST" >
</form>


<script>
    document.addEventListener('DOMContentLoaded', function(){
        var coursesId;
        var deleteForm = document.forms['delete-form'];
        var btnDelete = document.getElementById("btn-delete")
        
        
        $('#delete-modal').on('show.bs.modal', function (event) {
            var button = $(event.relatedTarget)
            courseId = button.data('id') 
        })


    btnDelete.onclick = function(){
        deleteForm.action = '/courses/'+ courseId + '?_method=DELETE';
        deleteForm.submit();

       
    }
    



   
    })
   
</script>